@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather", serif;
}
/* banner styles */
.banner-container {
    max-width: 1320px;
    margin: 0 auto;
    
    min-height: 600px;
    margin-top: 20px;
    background-color: rgba(0, 0,0,0.4);
    background-image: url(images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
 }
.banner-content {
    
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 600px;
   align-items: center;
 
}
.banner-content p {
    color: white;
    font-size: 32px;
    font-weight: 400;
   
}
.banner-content h1 {
    color: white;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
  
}
/* 65% offer section start here */
.offer-container {
    
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 90px;
   
}
.offer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.offer-content h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.offer-content p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 18px;
}
.banner-content h3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
   
}
.img-container {
        width: 802.9px;
        height: 500px;
        margin-top: 48px;
}
/* welcome styles */
.welcome-section {
    width: 1320px;
    height: 600px;
    
    margin: 0 auto;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(images/Vectorrr.png);
    background-blend-mode: overlay;
    display: flex;
}

.welcome-content h1{
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 900;
    margin-left: 126px;
    margin-top: 126px;
}
.welcome-content p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 126px;
    padding-top:24px ;
    padding-bottom: 48px;
   
}
.join{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-left:  158px ;
   
}
.welcome-year-img {
    width: 349.16px;
    height: 464.65px;
    display: flex;
    justify-content: end;
    justify-items: end;
    margin-top: 100px;
    margin-left: 100px;
}

/* veneu styles */
.venue-container {
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    margin-top: 90px;

}
.venue-content {

    display: block;
   justify-content: center;
   align-items: center;
   margin: 200px 400px;
   margin-left: 400px;
   width: 549px;
   height: 168px;
  
}
.button {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    border: none;
    padding: 10px;
    margin-left: 200px;
    margin-top: 50px;

}
/* shared style */
.text-primary{
    color: rgb(255, 0, 0);
}
.text-secondery{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.venue-description {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600; 
    text-align: center;
    line-height: 56px;
    
}
/* offer styles */
.offers-container {
    width: 1320px;
    height: 500px;
    
    margin: 0 auto;
    margin-top: 90px; 
    display: flex;
   justify-content: space-between;
    align-content: space-between;
}

/* offer contents */
.left-offer {
    width: 33%;
    
    width: 440px;
    height: 300px;
    margin-top: 104px;
    margin-bottom: 104px;
   
}
.mid-offer {
    width: 33%;
    width: 440px;
    height: 300px;
    margin-left: 50px;
    margin-right: 50px;
    
}
.right-offer {
    width: 33%;
    width: 440px;
    height: 300px;
    margin-top: 104px;
    margin-bottom: 104px;
    
    
}
.left-offer h1{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}
.left-offer h3 {
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    margin-bottom: 20px;
   
}
.ellipse-1 {
    padding: 20px;
    border: 10px solid red;
    border-radius: 50%;
}

.right-offer h3 {
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 10px;
}
.new-year {
   margin-top: 20px;
}